.fundo{
    background-color: #FFE8BB;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    padding-right:190px;
}

.fundo__img{
    
}

.fundo__img__bagagem{
    border-radius: 9px;
}

h1{
    font-family: 'Jomolhari', serif;
    font-weight: normal;
}


h2 {
    width: 500px;
    font-family: 'Jomolhari', serif;
    font-weight: normal;
}

@media(min-width:1440px){
    .fundo{
        max-width: 90%;
    }
    
}