.fundo{
    background-color: #FFE8BB;
    padding: 10px 0px;
}

.fundo__img{
    display: flex;
    justify-content: space-around;
}

.fundo__img__bagagem{
    border-radius: 9px;
}

h1{
    font-family: 'Jomolhari', serif;
    font-weight: normal;
}


h2 {
    width: 500px;
    font-family: 'Jomolhari', serif;
    font-weight: normal;
}

@media(min-width:1440px){
    .fundo__img{
        gap: 3.5rem;
    }

    .fundo__img div{
        flex-grow: 1;
        
    }
}